
.setup-title{
    padding: 1rem 3rem;
    color: black;
    font-weight: 500;
    word-wrap: break-word;
}
.label-setup{
    text-align: left;
    width: 100%;
    padding: 1rem 36%;
}
.setup-page-form{
    border: 1px solid black;
    font-size: 25px;
    border-radius: 10px;
    line-height: 33.73px;
    /* ff 3.6+ */
    background:white;
    align-items: left;
    margin: auto;
    width: 80%;
    color: black;
}
.rght{
    margin:  1rem auto 3rem auto;
}
.input-setup{
    border-radius: 10px;
    width: 30%;
}
@media  screen and (max-width:1050px) {
    .setup-page-form{
        font-size: 20px;
    }
    .setup-title{
        font-size: 15px;
        
    }
    .label-setup{
        padding: 1rem 16%;
    }
    .input-setup{
        width: 70%;
    }
}