*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;;
}

a{
    color: unset;
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
}
